/* Global styles for the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #35424a;
    color: white;
    padding-top: 5px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
    text-align: center;
    z-index: 1000; /* Ensure it stays above other elements */
}

header h1 {
    margin: 0;
    padding-bottom: 10px;
}

/* Navigation styles */
nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 0 20px 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #e8491d;
}

/* Global styles for sections */
section {
    width: 70%;
    margin: auto;
    padding-top: 30px;
}

.sections-container {
    margin-top: 20px; /* Add margin to the top of the sections */
}

section h2 {
    color: #35424a;
}

section p {
    line-height: 1.6em;
}

/* Footer styles */
footer {
    text-align: center;
    padding-top: 30px;
}

/* Styles for image */
.small-image {
    width: 225px;
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.enlarged-image {
    max-width: 95%;
    max-height: 95%;
    border: 2px #e8491d solid; /* Add a frame */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.d5); /* Add a shadow effect */
}
#about-me {
    margin-top: 100px; /* Adjust this value as needed */
}
.about-me-content {
    display: flex;
    align-items: center;
}

.about-me-image {
    flex: 1;
    padding-right: 10px; /* Add spacing between image and text */
}

.about-me-image img {
    max-width: 100%; /* Maintain aspect ratio */
    width: 90%; /* Set the width to 90% (adjust as needed) */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.about-me-text {
    flex: 2;
}

/* CSS for the overlay used for image enlargement */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Half-transparent black background */
    z-index: 9999;
    justify-content: center;
    align-items: center;
}
